<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>wt</servlet-name>
        <servlet-class>com.rainyalley.practice.WTTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wt</servlet-name>
        <url-pattern>/wt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hsp</servlet-name>
        <servlet-class>com.rainyalley.practice.HttpServletPrint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hsp</servlet-name>
        <url-pattern>/hsp</url-pattern>
    </servlet-mapping>
</web-app>
